form{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
}

h2{
    text-align: center;
}

.slider{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: royalblue;
    opacity: 0.7;
    height: 10em;
    max-width: 800px;
    text-align: center;
    margin: auto;
}

.prev, .next{
    background-color: rgba(80, 80, 80, 0.5);
    height: 6em;
    width: 4em;
}

.current{
    background-color: rgba(80, 80, 80, 0.5);
    height: 8em;
    width: 6em;
}